.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

/* z-index: 1; */

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1000;

  box-shadow: 0px 8px 8px #ccc;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-icon {
  padding: 0 14px;
}

#avatar-toolbar {
  margin-left: 14px;
  border-radius: 50%;
  width: 40px;
  height: 40px;

  background-size: cover;
}


.sidenav-spacer {
  flex: 1 1 auto;
}