.example-container {
  
  /* height: 400px;
  width: 550px;
   */

  overflow: auto;
}

table {
  /* width: 800px; */ 
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}


/*  .example-card {
    display: inline-block;
    max-width: 400px;
  } */
  
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  } 
  
/* .gamesCards {
  display: flex;
  } */



  .actionButtons button {
    margin: 14px;
  }


  .fab-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
  }